<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Ваша заявка принята</h1>

<p><b>ФИО: </b><span>{{ fio }}</span></p>
<p><b>Дата рождения: </b><span>{{ birthday }}</span></p>
<p><b>Организация: </b><span>{{ organization }}</span></p>
<p><b>Услуга: </b><span>{{ service }}</span></p>
<p><b>Дата: </b><span>{{ date }}</span></p>
<p><b>Время: </b><span>{{ time }}</span></p>
</body>
</html>
